Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonKhaimera
Content/ParagonGideon
Content/StarterContent
Content/GrassLandscape
Content/GoodSky
Build/
Releases/